<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
   
            <div class="carousel-item active">
                <div class="card">
                    <div class="box front">
                        <img src="../../../assets/Github.jpg" alt="Buscador de usúarios do Github">
                        <h4>Buscador de Usúarios GitHub</h4>
                      
                    </div>
                    <div class="box back">
                        <span class="fa fa-quote-left"></span>
                        <p class="descricao"> Projeto Desenvolvido em Angular utilizando a API do GitHub</p><br>
                        <p>Projeto Responsivo</p>
                        <p class="socials">
                            <a href="https://marques-souza.github.io/Buscar-Usuarios-Github/" target="_blank">
                            <i class="bi bi-laptop" ></i>
                        </a>
                        <a href="https://github.com/Marques-Souza" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <div class="card">
                    <div class="box front">
                        <img src="../../../assets/previsao.jpg" alt="Previsao do tempo">
                        <h4>Previsão do Tempo</h4>
                    </div>
                    <div class="box back">
                        <span class="fa fa-quote-left"></span>
                        <p class="descricao">
                            Projeto Desenvolvido em Angular utilizando a API do OpenWeather
                        </p><br>
                        <p>Projeto Responsivo</p>
                        <p class="socials">
                            <a href="https://marques-souza.github.io/update-previsao/" target="_blank">
                            <i class="bi bi-laptop" ></i>
                        </a>
                        <a href="https://github.com/Marques-Souza" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        </p>
                    </div>           
                </div>
            </div>

            <div class="carousel-item">
                <div class="card">
                    <div class="box front">
                        <img src="../../../assets/emprestimo.jpeg" alt="Emprestimo de livros">
                        <h4>Emprestimos de livros</h4>
                    </div>
                    <div class="box back">
                        <span class="fa fa-quote-left"></span>
                        <p class="descricao">Projeto Desenvolvido em Angular utilizando API .Net, para teste utilize:<br>
                            email: admin&#64;admin.com<br>
                            senha: admin123</p><br>
                            <p>Projeto Responsivo</p>
                        <p class="socials">
                            <a href="http://18.219.103.12/" target="_blank">
                            <i class="bi bi-laptop" ></i>
                        </a>
                        <a href="https://github.com/Marques-Souza" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        </p>
                    </div>                   
                </div>
            </div>

            <div class="carousel-item">
                <div class="card">
                    <div class="box front">
                        <img src="../../../assets/cep.jpeg" alt="Buscador de cidade pelo CEP">
                        <h4>Buscador de Cidade pelo CEP</h4>
                    </div>
                    <div class="box back">
                        <span class="fa fa-quote-left"></span>
                        <p class="descricao">Projeto Desenvolvido em Angular utilizando a API ViaCep</p><br>
                        <p>Projeto Responsivo</p>
                        <p class="socials">
                            <a href="https://marques-souza.github.io/buscador-cep/" target="_blank">
                            <i class="bi bi-laptop" ></i>
                        </a>
                        <a href="https://github.com/Marques-Souza" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        </p>
                    </div>                   
                </div>
            </div>

        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
