
<div class="container">
  <a href="https://github.com/Marques-Souza" target="_blank">
    <i  class="bi bi-github"></i>
  </a>
<a href="https://wa.me/5561994057043?text=Ol%C3%A1%2C%20tudo%20bem%3F" target="_blank">
  <i class="bi bi-whatsapp"></i>
</a>

<a href="https://www.linkedin.com/in/marques-wsouza/" target="_blank">
  <i class="bi bi-linkedin"></i>
</a>


</div>

<div class="info">
    <h2>Olá meu nome é Marques Souza</h2>
    <p>Desenvolvedor Front End Jr</p>
    <button class="btn btn-primary" routerLink="/sobremim"><i class="bi bi-info-circle-fill p-1"></i>Mais Informações</button>
</div>

<div class="position-relative ">
<div class="flex d-flex p-1 gap-5 card-left">
<div class="card text-center mb-5 p-2" style="width: 16rem;">
    <div class="card-body">
        <i class="bi bi-envelope-at-fill fs-5 card-right"></i>
      <p class="card-text">email</p>
      <a href="mailto:marques.wsouza&#64;gmail.com">marques.wsouza&#64;gmail.com</a>
    </div>
  </div>

  <div class="card text-center mb-5 p-2" style="width: 16rem;">
    <div class="card-body">
        <i class="bi bi-whatsapp fs-5"></i>
      <p class="card-text">Whatsapp</p>
      <a href="https://wa.me/5561994057043?text=Ol%C3%A1%2C%20tudo%20bem%3F" target="_blank">(61)9 9405-7043</a>
    </div>
  </div>

</div>
</div>
