<div class="cards-container">
    <div class="card mb-3" style="max-width: 440px;">
      <div class="row g-1">
        <div class="col-md-3 imagem-container">
          <img src="../../../assets/unicesumar2.png" class="img-fluid rounded-start" alt="unicesumar">
        </div>
        <div class="col-md-8 texto-container">
          <div class="card-body">
            <h5 class="card-title">UNICESUMAR</h5>
            <p class="card-text">Análise e Desenvolvimento de Sistemas</p>
            <p class="card-text"><small>Janeiro de 2022 a Junho de 2024</small></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 440px;">
      <div class="row g-1">
        <div class="col-md-3 imagem-container">
          <img src="../../../assets/federal.jpg" class="img-fluid rounded-start" alt="Instituto Federal Rio Grande do Sul">
        </div>
        <div class="col-md-8 texto-container">
          <div class="card-body">
            <h5 class="card-title">Instituto Federal Rio Grande do Sul</h5>
            <p class="card-text">Programador Web</p>
            <p class="card-text"><small>junho de 2024 a 22 Junho de 2024</small></p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card mb-3" style="max-width: 440px;">
      <div class="row g-1">
        <div class="col-md-3 imagem-container">
          <img src="../../../assets/dev.jfif" class="img-fluid rounded-start" alt="DevClub">
        </div>
        <div class="col-md-8 texto-container">
          <div class="card-body">
            <h5 class="card-title">DevClub</h5>
            <p class="card-text">Desenvolvedor Full Stack</p>
            <p class="card-text"><small>Maio de 2024 (Cursando)</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  