<div class="container">

    <div class="imagem-container">
        <img src="../../../assets/Marques.png" alt="">
    </div>

    <div class="texto-container">
        Oi, sou Marques Souza, Desenvolvedor Front-End Jr.. Sou uma pessoa determinada, focada e estudiosa, com facilidade para aprender e me adaptar a novos desafios. Trabalho bem em equipe e sou responsável, persistente e calmo em situações de pressão.

Acredito que uma boa comunicação é fundamental para o sucesso de qualquer projeto. Estou sempre em busca de me aprimorar e entregar soluções de qualidade, com o objetivo de crescer como desenvolvedor.
    </div>
</div>

<div class="botoes">
    <a href="mailto:marques.wsouza&#64;gmail.com">
    <button  class="btn tbn-primary">Contate-me</button>
</a>
    <button onclick="window.open('/assets/Marques Souza Desenvolvedor Front-End.pdf', '_blank');" class="btn tbn-primary">Baixar CV</button>
</div>
